
.poster-container {
  position: relative;
}

.poster-container:hover .on-image {
  display: block;
  position: relative;
} 

.poster {
    box-sizing: border-box;
    margin-top: 100px;
    background-color: rgb(204, 233, 243);
    width: 13vw; 
    height: 53vh; 
    position: relative;
  }

.poster:hover {
  transform: scale(1.5) !important;
  box-shadow: 0 0 10px white;
}

.on-image {
  display: none;
  align-content: center;
  margin: 0;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  width: 19vw;
  font-size: 25px;
}

.filled-heart,
.heart {
  width: 40px;
  height: 40px;
  border: none;
}

.movie-details {
  padding-top: 20px;
}

