
.poster-container {
  position: relative;
}

.poster-container:hover .on-image {
  display: block;
  position: relative;
} 

.poster {
    box-sizing: border-box;
    margin-top: 100px;
    background-color: rgb(204, 233, 243);
    width: 12vw; 
    height: 50vh; 
    position: relative;
  }

.poster:hover {
  transform: scale(1.5) !important;
  box-shadow: 0 0 10px white;
}

.on-image {
  display: none;
  position: absolute;
  /* bottom: 0; */
  color: white;
  background-color: rgba(0, 0, 0, .5);
}

.five-star-rating {
  width: 18vw;
}

.filled-heart,
.heart {
  width: 30px;
  height: 30px;
  border: none;
  /* width: 5vw; */
}

/* 
.description-buttons-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 5px;
} */

.description-buttons-container p {
  margin: 0;
}

.rating-heart-container {
  display: flex !important;
}