.selected-movie {
    position: relative;
    opacity: .8;
  }
  
  .backdrop-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .backdrop-poster {
    width: 100%;
    height: 100%;
    /* opacity: 0.8; */
    z-index: 0;
  }
  
  .on-single-image {
    position: absolute;
    display: flex;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
  }
  
  .single-post {
    width: 18vw;
    margin: 5px;
    border: 8px solid black;
  }
  
  .video-player {
    width: 25vw;
    height: 50vh;
    /* left: 55%; */
    transform: translate(70%, 10%);
  }
  
  .single-text {
    margin: 5px;
    align-items: center;
    padding: 20px;
    width: 25vw;
    background-color: black;
  }
  