.App {
  text-align: center;
  background-color: black;
  margin: 0;
  height: 100vh
}

.arrow {
  position: absolute;
  top: 26%;
  height: 56vh;
  width: 80px;
  z-index: 1;
  font-size: 90px;
  background-color: rgba(0, 0, 0, .5);
  color: rgb(199, 191, 191);
  border: none;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;

h2 {
  border: 2px solid white !important;
  padding: 10px;
  margin: 10px;
  color: white !important; 
  /* Add additional styling as needed */
}


/* .arrow {
  position: relative;
  top: 50%;
  /* bottom: 0; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%);
  color: white;
  background-color: white(0, 0, 0, .5);
  padding: 8px;
  height: 50vh; */
  /* margin: 5px; */
/* }  */

