
.movies-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  color: white;
  background-color: black;
}

@media (max-width: 1200px) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
  }
}

@media (max-width: 500px) {
  .movies-container {
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 0.1px;
    overflow-x: auto; 
    width: 100vw;
    height: 100vh;
    white-space: nowrap; 
  }
} 